Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(tools)!: match Go and Python MCP tool surfaces
  docs/tools-manifest.txt
  go/internal/linode/databases_test.go
  go/internal/linode/methods_databases.go
  go/internal/linode/retry.go
  go/internal/server/server.go
  go/internal/server/tools_manifest_test.go
  go/internal/tools/linode_database_all_instances_list_test.go
  go/internal/tools/linode_databases.go
  go/internal/tools/linode_firewall_get_test.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_instance_update_test.go
  go/internal/tools/linode_instances_write.go
  go/internal/tools/linode_volume_get_test.go
  go/internal/tools/linode_volumes.go
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_tools_manifest.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(tools): add generic networking IP share to both surfaces
  docs/tools-manifest.txt
  go/internal/linode/methods_networking.go
  go/internal/linode/networking_ips_test.go
  go/internal/linode/retry.go
  go/internal/server/server.go
  go/internal/tools/linode_networking_dryrun_test.go
  go/internal/tools/linode_networking_ips.go
  go/internal/tools/linode_networking_ips_test.go
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_version.py
Due: gofumpt, goimports, go-test, mypy, pytest

ci(release): add signed release artifact pipeline
  .github/workflows/release-artifacts.yml
  .github/workflows/release.yml
  README.md
  docs/release-process.md
  docs/verifying-releases.md
  go/Dockerfile
  go/internal/appinfo/appinfo.go
  go/internal/appinfo/appinfo_test.go
  go/internal/integration/full_flow_test.go
  python/pyproject.toml
Due: gofumpt, goimports, go-test

ci(release): add explicit tag input to release workflow
  .github/workflows/release.yml
  docs/release-process.md
Due: none

ci(release): upload binary provenance to draft releases
  .github/workflows/release-artifacts.yml
Due: none

chore(lint): add actionlint to local checks
  .pre-commit-config.yaml
  Makefile
  renovate.json
Due: none

ci(release): base release notes on stable tags
  .github/workflows/release-artifacts.yml
  .github/workflows/release.yml
Due: none

chore(deps): update github actions (non-major) to v2.1.0
  .github/workflows/release-artifacts.yml
Due: none

chore(deps): update github artifact actions to v7
  .github/workflows/qwen-review.yml
Due: none

chore: align local security checks with CI
  .pre-commit-config.yaml
  Makefile
  python/pyproject.toml
  python/uv.lock
Due: none

chore(deps): update renovate automation and uv lock check
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  renovate.json
Due: none

chore(deps): update github actions (non-major) to 476e4fd
  .github/workflows/ci.yml
Due: none

fix(deps): update go modules (non-major)
  go/go.mod
  go/go.sum
Due: none

ci: allow review planning calls
  .github/workflows/qwen-review.yml
Due: none

fix(deps): update go modules (non-major)
  .github/workflows/qwen-review.yml
  go/go.mod
  go/go.sum
Due: none

chore(deps): update actions/checkout action to v7
  .github/workflows/ci.yml
  .github/workflows/qwen-review.yml
  .github/workflows/release-artifacts.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

chore(deps): update github actions (non-major)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(deps): update module github.com/charmbracelet/bubbles to v2
  go/go.mod
Due: none

fix: harden TUI form key handling
  go/internal/cli/tui.go
Due: gofumpt, goimports, go-test

fix: update TUI for Charm v2 modules
  go/go.mod
  go/go.sum
  go/internal/cli/tui.go
  go/internal/cli/tui_audit.go
  go/internal/cli/tui_catalog.go
  go/internal/cli/tui_form.go
  go/internal/cli/tui_health.go
  go/internal/cli/tui_profile.go
  go/internal/cli/tui_run.go
  go/internal/cli/tui_view.go
Due: gofumpt, goimports, go-test

chore(deps): update github actions pins
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: cancel stale TUI async work
  go/internal/cli/tui.go
  go/internal/cli/tui_audit.go
  go/internal/cli/tui_health.go
  go/internal/cli/tui_run.go
Due: gofumpt, goimports, go-test

ci: harden review workflow output parsing
  .github/workflows/qwen-review.yml
Due: none

ci: parse plain review output
  .github/workflows/qwen-review.yml
Due: none

fix(deps): update module github.com/charmbracelet/bubbles to v2
  .github/workflows/qwen-review.yml
  go/go.mod
  go/go.sum
  go/internal/cli/tui.go
  go/internal/cli/tui_audit.go
  go/internal/cli/tui_catalog.go
  go/internal/cli/tui_form.go
  go/internal/cli/tui_health.go
  go/internal/cli/tui_profile.go
  go/internal/cli/tui_run.go
  go/internal/cli/tui_view.go
Due: gofumpt, goimports, go-test

chore(deps): lock file maintenance python deps (non-major)
  python/uv.lock
Due: none

fix: keep Python MCP logs off stdout
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
  python/src/linodemcp/main.py
  python/src/linodemcp/observability/__init__.py
Due: mypy, pytest

fix(observability)!: expose application metrics to prometheus
  go/cmd/linodemcp/main.go
  go/go.mod
  go/go.sum
  go/internal/config/bind_host_test.go
  go/internal/config/config.go
  go/internal/linode/client.go
  go/internal/linode/metrics.go
  go/internal/observability/health.go
  go/internal/observability/metrics.go
  go/internal/observability/metrics_scrape_test.go
  go/internal/observability/middleware.go
  go/internal/server/metrics_middleware_test.go
  go/internal/server/server.go
  python/pyproject.toml
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/linode/metrics.py
  python/src/linodemcp/main.py
  python/src/linodemcp/observability/__init__.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tui/app.py
  python/tests/conftest.py
  python/tests/unit/test_config.py
  python/tests/unit/test_observability.py
  python/tests/unit/test_server_metrics_recorder.py
Due: gofumpt, goimports, go-test, mypy, pytest

chore(deps): update github actions (non-major)
  .github/workflows/renovate.yml
Due: none
