Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

feat: add instance IP RDNS update route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add Linode instance update route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add account update route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add object storage SSL upload route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_object_storage_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add object storage SSL upload route (#15)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_object_storage_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add bucket access allow route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_object_storage_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profiles): reload active profile on config changes
  go/cmd/linodemcp/main.go
  go/internal/config/watcher.go
  go/internal/config/watcher_test.go
  go/internal/server/profile_filter_test.go
  go/internal/server/profile_reload_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  python/src/linodemcp/config/watcher.py
  python/src/linodemcp/main.py
  python/src/linodemcp/server/__init__.py
  python/tests/unit/test_server.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix: add StackScript creation route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_stackscripts.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(linode): add /profile/grants client methods
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(profiles): add Linode token scope mapping
  go/internal/profiles/builtin_test.go
  go/internal/profiles/loader_test.go
  go/internal/profiles/scope.go
  go/internal/profiles/scope_test.go
  go/internal/profiles/testconst_test.go
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/scope.py
  python/tests/unit/test_profiles_scope.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(profiles): derive built-in token scopes from tools
  go/internal/profiles/builtin.go
  go/internal/profiles/builtin_test.go
  python/src/linodemcp/profiles/builtin.py
  python/tests/unit/test_profiles_builtin.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add image creation route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_images.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add volume get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add volume get route (#20)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add SSH key get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_sshkeys.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add SSH key get route (#21)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_sshkeys.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add firewall get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_firewalls.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profiles): add token scope comparison helpers
  go/internal/profiles/scopecheck.go
  go/internal/profiles/scopecheck_test.go
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/scopecheck.py
  python/tests/unit/test_profiles_scopecheck.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(profiles): classify singular image and stackscript tools as compute
  go/internal/profiles/builtin.go
Due: gofumpt, goimports, go-test

feat(python): add firewall get route (#22)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_firewalls.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add domain record get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_domain_records.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add domain record get route (#23)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_domain_records.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profiles): add token-scope validators
  go/internal/profiles/errors.go
  go/internal/profiles/validator.go
  go/internal/profiles/validator_test.go
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/validator.py
  python/tests/unit/test_profiles_validator.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add volume clone support
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_loader.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add volume clone support (#24)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_loader.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profiles)!: validate token scopes at startup
  go/cmd/linodemcp/main.go
  go/internal/profiles/errors.go
  go/internal/profiles/validator.go
  go/internal/server/server.go
  go/internal/server/validate_scopes_test.go
  python/src/linodemcp/main.py
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/validator.py
  python/src/linodemcp/server/__init__.py
  python/tests/unit/test_server.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(python): add volume types list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add volume types list tool (#25)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profile): add profile list and show subcommands
  go/cmd/linodemcp/main.go
  go/cmd/linodemcp/profile_cmd.go
  go/internal/cli/profile.go
  go/internal/cli/profile_test.go
  go/internal/server/server.go
  python/src/linodemcp/cli/__init__.py
  python/src/linodemcp/cli/profile.py
  python/src/linodemcp/main.py
  python/tests/unit/test_cli_profile.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(profile): add use and built-in toggle commands
  go/internal/cli/mutate_test.go
  go/internal/cli/profile.go
  go/internal/config/config_test.go
  go/internal/config/errors.go
  go/internal/config/write.go
  go/internal/config/write_test.go
  python/src/linodemcp/cli/__init__.py
  python/src/linodemcp/cli/profile.py
  python/src/linodemcp/config/__init__.py
  python/tests/unit/test_cli_mutators.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(profile): add clone and delete subcommands
  go/internal/cli/clone_delete_test.go
  go/internal/cli/profile.go
  python/src/linodemcp/cli/__init__.py
  python/src/linodemcp/cli/profile.py
  python/tests/unit/test_cli_clone_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

build: add root build target and pre-push build gate
  .pre-commit-config.yaml
  Makefile
  go/Makefile
  python/.gitignore
  python/Makefile
  python/pyproject.toml
Due: none

feat(python): add account tag delete tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add account tag delete tool (#26)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest
