Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(audit): add report subcommand to the CLI
  docs/audit-log.md
  docs/audit-reports.md
  go/internal/cli/audit_cmd.go
  go/internal/cli/audit_cmd_test.go
  python/src/linodemcp/cli/audit.py
  python/src/linodemcp/tools/linode_audit_report.py
  python/tests/unit/test_audit_report_tool.py
  python/tests/unit/test_cli_audit.py
  scripts/verify_cli_surface.py
Due: gofumpt, goimports, go-test, mypy, pytest

test(contracts): parse dynamic Go route evidence with AST
  go/internal/linode/dynamic_route_evidence_test.go
  python/tests/unit/test_go_route_evidence.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(deps): update go modules (non-major)
  go/go.mod
Due: none

fix(deps): update dependency protobuf to v7
  python/pyproject.toml
  python/uv.lock
Due: none

chore(deps): update actions/setup-python action to v7
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
Due: none

fix(deps): align protobuf generators with runtime v7
  buf.gen.yaml
  python/pyproject.toml
Due: none

fix(deps): update go modules (non-major)
  go/go.mod
  go/go.sum
Due: none

fix(deps): align protobuf ceiling with OpenTelemetry
  python/pyproject.toml
  python/uv.lock
Due: none

fix(deps): update dependency protobuf to v7
  buf.gen.yaml
  python/pyproject.toml
  python/uv.lock
Due: none

test(contracts): isolate list-envelope gate failure
  python/tests/unit/test_verify_list_envelope.py
Due: mypy, pytest

feat: add reserved IP tools and route-evidence gate
  .github/workflows/sync-drift.yml
  Makefile
  docs/README.md
  docs/contracts/behavior-baseline.txt
  docs/contracts/input-proto-baseline.txt
  docs/contracts/read-proto-baseline.txt
  docs/contracts/route-evidence-baseline.txt
  docs/contracts/scope-sync-baseline.txt
  docs/contracts/scope-sync-exempt.txt
  docs/contracts/tool-parity-baseline.txt
  docs/contracts/write-proto-baseline.txt
  go/cmd/route-dump/errors.go
  go/cmd/route-dump/main.go
  go/cmd/route-dump/main_test.go
  go/cmd/route-dump/package.go
  go/cmd/route-dump/resolve.go
  go/cmd/route-dump/sinks.go
  go/internal/linode/methods_networking.go
  go/internal/linode/reserved_ips_test.go
  go/internal/linode/retry.go
  go/internal/profiles/scope.go
  go/internal/server/server.go
  go/internal/tools/linode_reserved_ips.go
  go/internal/tools/linode_reserved_ips_defensive_test.go
  go/internal/tools/linode_reserved_ips_family_test.go
  python/src/linodemcp/tools/linode_reserved_ips.py
  python/tests/unit/test_verify_baseline_direction.py
  python/tests/unit/test_verify_route_evidence.py
  python/tests/unit/test_verify_sync_scopes.py
  python/tests/unit/test_verify_tracking_issues.py
  scripts/_routescan.py
  scripts/verify_baseline_direction.py
  scripts/verify_route_evidence.py
  scripts/verify_sync_scopes.py
  scripts/verify_tracking_issues.py
  testdata/behavior/linode_networking_reserved_ip_create.json
  testdata/behavior/linode_networking_reserved_ip_get.json
  testdata/behavior/linode_networking_reserved_ip_type_list.json
  testdata/behavior/linode_networking_reserved_ip_update.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(instances): validate interface list response shapes
  docs/contracts/list-envelope-baseline.txt
  go/internal/linode/dynamic_route_evidence_test.go
  python/src/linodemcp/tools/linode_instances.py
  python/tests/unit/test_linode_instance_config_update_route.py
  python/tests/unit/test_verify_list_envelope.py
  testdata/behavior/linode_instance_interface_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

delete: remove dynamic route evidence test file
  go/internal/linode/dynamic_route_evidence_test.go
Due: gofumpt, goimports, go-test

test: cover rejection of invalid interface element types
  testdata/behavior/linode_instance_config_interface_list.json
Due: none

test(contracts): cover profile login route evidence
  python/tests/unit/test_verify_route_evidence.py
Due: mypy, pytest

test(contracts): pin PostgreSQL update route evidence
  go/cmd/route-dump/main_test.go
  testdata/behavior/linode_database_postgresql_instance_update.json
Due: gofumpt, goimports, go-test

test(contracts): cover profile token route evidence
  python/tests/unit/test_verify_route_evidence.py
Due: mypy, pytest

test(contracts): cover security question API responses
  go/cmd/route-dump/main_test.go
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
  testdata/behavior/linode_profile_security_question_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(databases): align PostgreSQL create contracts
  go/cmd/route-dump/main_test.go
  python/src/linodemcp/tools/linode_databases.py
  python/tests/unit/test_server.py
  testdata/behavior/linode_database_postgresql_instance_create.json
Due: gofumpt, goimports, go-test, mypy, pytest

test(contracts): cover MySQL update route errors
  go/cmd/route-dump/main_test.go
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
  testdata/behavior/linode_database_mysql_instance_update.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(profile): reconcile trusted device list behavior
  go/internal/linode/methods_account.go
  go/internal/linode/profile_devices_list_test.go
  go/internal/linode/proto_list.go
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_verify_route_evidence.py
  testdata/behavior/linode_profile_device_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(instances): expose interface list route to scanners
  go/cmd/route-dump/main_test.go
  go/internal/linode/instance_interfaces_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
  testdata/behavior/linode_instance_interface_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat(domains): align create contract across clients
  docs/contracts/behavior-dryrun-baseline.txt
  go/internal/linode/domain_create_test.go
  go/internal/linode/methods_dns.go
  go/internal/linode/retry.go
  go/internal/linode/types_dns.go
  go/internal/server/behavior_conformance_test.go
  go/internal/tools/linode_domain_create_contract_test.go
  go/internal/tools/linode_domains_dryrun_test.go
  go/internal/tools/linode_domains_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
  proto/linode/mcp/v1/domain.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_domains_write.py
  python/tests/unit/test_behavior_conformance.py
  python/tests/unit/test_domain_create_contract.py
  python/tests/unit/test_domains_write_branches.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_verify_route_evidence.py
  testdata/behavior/linode_domain_create.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(domains): use domain-local validation constants
  go/internal/tools/linode_domain_create_contract_test.go
  go/internal/tools/linode_domains_write.go
  go/internal/tools/testconsts_test.go
  python/src/linodemcp/tools/linode_domains_write.py
  testdata/behavior/linode_domain_create.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(domains): validate status type before enum
  python/src/linodemcp/tools/linode_domains_write.py
  python/tests/unit/test_domain_create_contract.py
  testdata/behavior/linode_domain_create.json
Due: mypy, pytest

chore(deps): update renovatebot/github-action action to v46.1.21
  .github/workflows/renovate.yml
Due: none

test(contracts): cover paginated route evidence
  python/tests/unit/test_verify_route_evidence.py
Due: mypy, pytest

chore(deps): update renovatebot/github-action action to v46.1.21 (#763)
  .github/workflows/renovate.yml
Due: none

fix(domains): preserve create input wire compatibility
  go/internal/tools/linode_domain_create_contract_test.go
  proto/linode/mcp/v1/domain.proto
  python/tests/unit/test_domain_create_contract.py
  python/tests/unit/test_verify_sync_enums_staleness.py
  scripts/verify_sync_enums.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(domains): clarify domain label character class
  go/internal/tools/linode_domains_write.go
  python/src/linodemcp/tools/linode_domains_write.py
  testdata/behavior/linode_domain_create.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat(monitor): add alert definition clone tool
  README.md
  docs/contracts/tool-routes.txt
  docs/contracts/tools-capabilities.txt
  docs/contracts/tools-manifest.txt
  go/internal/linode/methods_monitor.go
  go/internal/linode/monitor_service_alert_definition_clone_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_monitor.go
  go/internal/server/monitor_service_alert_definition_clone_registration_test.go
  go/internal/server/server.go
  go/internal/tools/linode_monitor.go
  go/internal/tools/linode_monitor_alert_definition_clone.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  proto/linode/mcp/v1/monitor.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(deps): update dependency mcp to v2
  python/pyproject.toml
  python/uv.lock
Due: none

fix(monitor): preserve alert definition group_by responses
  go/internal/linode/monitor_service_alert_definition_clone_test.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  proto/linode/mcp/v1/monitor.proto
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  python/tests/unit/test_server.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
  testdata/conformance/monitor_alert_definition_list.json
  testdata/conformance/monitor_alert_definition_write.json
  testdata/conformance/monitor_service_alert_definition_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(monitor): preserve group_by in clone dry-run state
  go/internal/linode/types_monitor.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
Due: gofumpt, goimports, go-test

fix(monitor): support scoped clone targets
  go/internal/linode/monitor_service_alert_definition_clone_test.go
  go/internal/linode/types_monitor.go
  go/internal/tools/linode_image_replicate_test.go
  go/internal/tools/linode_monitor.go
  go/internal/tools/linode_monitor_alert_definition_clone.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  go/internal/tools/testconsts_test.go
  proto/linode/mcp/v1/monitor.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
Due: gofumpt, goimports, go-test, mypy, pytest
