Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

chore(dependencies): update Go and Python dependencies
  .github/workflows/renovate.yml
  go/go.mod
  go/go.sum
  python/pyproject.toml
  python/uv.lock
Due: none

fix(deps): update python deps (non-major)
  python/pyproject.toml
  python/uv.lock
  tools/techdocs-proof/pyproject.toml
  tools/techdocs-proof/uv.lock
Due: none

test: cover failure paths across eight Go packages
  go/internal/audit/jsonl_failure_test.go
  go/internal/audit/sqlite_failure_test.go
  go/internal/cli/audit_verbs_test.go
  go/internal/cli/output_table_test.go
  go/internal/cli/profile_verbs_test.go
  go/internal/cli/runtime_sinks_test.go
  go/internal/cli/tools_show_test.go
  go/internal/cli/tui_command_test.go
  go/internal/cli/tui_extras_test.go
  go/internal/cli/tui_test.go
  go/internal/config/config_test.go
  go/internal/config/load_failure_test.go
  go/internal/config/reports_test.go
  go/internal/config/testconsts_test.go
  go/internal/config/write_failure_test.go
  go/internal/linode/client_edge_test.go
  go/internal/observability/health_bind_test.go
  go/internal/observability/metrics_config_test.go
  go/internal/observability/tracing_endpoint_test.go
  go/internal/profiles/capability_test.go
  go/internal/profiles/lookup_test.go
  go/internal/profiles/scopecheck_resources_test.go
  go/internal/server/dispatch_modes_test.go
  go/internal/tools/destroy_wrappers_test.go
  go/internal/tools/dryrun_preview_test.go
  go/internal/tools/twostage_edges_test.go
Due: gofumpt, goimports, go-test

feat(proto): state enum vocabularies as membership rules
  proto/linode/mcp/v1/account.proto
  proto/linode/mcp/v1/domain.proto
  proto/linode/mcp/v1/ip.proto
  proto/linode/mcp/v1/longview.proto
  proto/linode/mcp/v1/monitor.proto
  proto/linode/mcp/v1/options.proto
  proto/linode/mcp/v1/support_ticket.proto
  testdata/behavior/linode_domain_update.json
  testdata/behavior/linode_longview_plan_update.json
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
  tools/techdocs-proof/docs/04-protobuf-and-descriptors.md
  tools/techdocs-proof/docs/05-semantic-comparison.md
  tools/techdocs-proof/docs/06-findings-reference.md
  tools/techdocs-proof/src/techdocs_proof/proof.py
Due: none

fix: read python meta tool arguments through the typed readers
  go/cmd/toolgen/pyhandler.go
  go/cmd/toolgen/pyrenderer.go
  go/cmd/toolgen/pyrenderer_test.go
  testdata/behavior/hello.json
  testdata/behavior/linode_region_list.json
Due: gofumpt, goimports, go-test

fix(cli): render form arguments for raw-schema tools in the tui
  go/internal/cli/tui.go
  go/internal/cli/tui_catalog.go
  go/internal/cli/tui_model_test.go
Due: gofumpt, goimports, go-test

docs: restate the gates page as a table and regroup the indexes
  README.md
  docs/README.md
  docs/adding-a-language.md
  docs/gates.md
  docs/parity.md
  llms.txt
Due: none

fix(audit): saturate query bounds and survive a failed rotation
  docs/audit.md
  go/internal/audit/errors.go
  go/internal/audit/eventexport_test.go
  go/internal/audit/jsonl.go
  go/internal/audit/jsonl_failure_test.go
  go/internal/audit/reader.go
  go/internal/audit/reader_test.go
  go/internal/audit/summary.go
  go/internal/audit/summary_test.go
  go/internal/cli/audit_verbs_test.go
  python/src/linodemcp/audit/export.py
  python/src/linodemcp/audit/jsonl.py
  python/src/linodemcp/audit/reader.py
  python/src/linodemcp/audit/summary.py
  python/tests/unit/test_audit_export.py
  python/tests/unit/test_audit_jsonl.py
  python/tests/unit/test_audit_reader.py
  python/tests/unit/test_audit_summary.py
  testdata/behavior/linode_audit_export.json
  testdata/behavior/linode_audit_recent.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat(gates): fail a duplicate behavior fixture and walk llms.txt
  python/tests/unit/test_verify_behavior.py
  python/tests/unit/test_verify_docs_links.py
  scripts/verify_behavior.py
  scripts/verify_docs_links.py
Due: mypy, pytest

refactor(profiles): spell a capability from the generated enum
  go/internal/profiles/capability.go
  go/internal/profiles/capability_test.go
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/capability.py
  python/src/linodemcp/tools/builderstate.py
  python/tests/unit/test_profiles_capability_spelling.py
  testdata/profile/capability_spellings.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(docker): use numeric user ids and install the built wheel by path
  ci/Dockerfile
  go/Dockerfile
  python/Dockerfile
Due: none

chore(deps): update github actions (non-major)
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

fix(deps): update python deps (non-major) (#772)
  python/pyproject.toml
  python/uv.lock
  tools/techdocs-proof/pyproject.toml
  tools/techdocs-proof/uv.lock
Due: none

fix(deps): update dependency protovalidate to v2
  python/pyproject.toml
  python/uv.lock
Due: none

fix(audit): saturate the retention cutoff outside the int64 range
  go/internal/audit/sqlite.go
  go/internal/audit/sqlite_retention_test.go
  python/src/linodemcp/audit/sqlite.py
  python/tests/unit/test_audit_sqlite.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(gates): cover the integer sets in the enum sync hand-list map
  python/tests/unit/test_sync_enums_handlists.py
  scripts/verify_sync_enums.py
Due: mypy, pytest

feat(proto)!: align input contracts with the rendered techdocs pages
  docs/contracts/wire-baseline.binpb.gz
  go/cmd/toolgen/main_test.go
  go/internal/audit/redact_test.go
  go/internal/tools/argument_refusals_test.go
  proto/linode/mcp/v1/account.proto
  proto/linode/mcp/v1/account_user.proto
  proto/linode/mcp/v1/instance.proto
  proto/linode/mcp/v1/monitor.proto
  proto/linode/mcp/v1/options.proto
  python/tests/unit/test_server.py
  testdata/behavior/linode_account_settings_update.json
  testdata/behavior/linode_account_user_update.json
  testdata/behavior/linode_instance_config_update.json
  testdata/behavior/linode_monitor_service_metric_query.json
  tools/techdocs-proof/data/known-divergences.json
  tools/techdocs-proof/src/techdocs_proof/proof.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix: refuse a wrong-typed environment argument in both languages
  go/internal/tools/environment_argument_test.go
  go/internal/tools/helpers.go
  python/src/linodemcp/tools/helpers.py
  python/tests/unit/test_environment_argument.py
  testdata/behavior/linode_instance_get.json
  testdata/behavior/linode_instance_list.json
  testdata/behavior/linode_instance_update.json
Due: gofumpt, goimports, go-test, mypy, pytest

refactor: delete dead retry surface and unused module constants
  go/internal/linode/errors.go
  go/internal/linode/errors_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/validation.py
  python/tests/unit/test_linode.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(gates): type the gate scripts strictly and enforce it in check
  Makefile
  docs/gates.md
  pyrightconfig.json
  python/pyproject.toml
  python/uv.lock
  scripts/generated_goldens.py
  scripts/strip_enum_sentinel.py
  scripts/verify_baseline_direction.py
  scripts/verify_cli_surface.py
  scripts/verify_pagination.py
  scripts/verify_response_shapes.py
  scripts/verify_strict_typecheck.py
  scripts/verify_sync_defaults.py
  scripts/verify_sync_pagination.py
  scripts/verify_sync_response_shapes.py
  scripts/verify_sync_scopes.py
  scripts/verify_tool_parity.py
  scripts/verify_tool_response.py
Due: none

docs: point restated facts at the pages that own them
  README.md
  docs/README.md
  docs/adding-a-language.md
  docs/dry-run.md
  docs/parity.md
Due: none

chore(deps): update github actions (non-major) (#777)
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

fix(deps): update dependency protobuf to >=7.36.1
  python/pyproject.toml
  python/uv.lock
Due: none

chore: bump github action pins and go/python dependencies
  go/go.mod
  go/go.sum
  python/uv.lock
Due: none

fix(deps): update dependency protobuf to >=7.36.1 (#778)
  python/pyproject.toml
  python/uv.lock
Due: none

fix(deps): update module github.com/mark3labs/mcp-go to v1
  go/go.mod
Due: none

fix(deps): update dependency ruff to >=0.16.6
  python/pyproject.toml
  python/uv.lock
Due: none

fix(deps): update go modules (non-major)
  go/go.mod
Due: none

fix(deps): update dependency types-pyyaml to >=6.0.12.20260906
  python/pyproject.toml
  python/uv.lock
Due: none

chore(deps): update renovatebot/github-action action to v46.2.6
  .github/workflows/renovate.yml
Due: none

chore(deps): update renovatebot/github-action action to v46.2.6 (#780)
  .github/workflows/renovate.yml
Due: none

fix(deps): update python deps (non-major)
  python/pyproject.toml
  python/uv.lock
Due: none

chore(deps): update renovatebot/github-action action to v46.3.0
  .github/workflows/renovate.yml
Due: none
