Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(audit): add rolling JSONL audit sink
  python/src/linodemcp/audit/__init__.py
  python/src/linodemcp/audit/jsonl.py
  python/src/linodemcp/audit/path.py
  python/src/linodemcp/main.py
  python/tests/unit/test_audit_jsonl.py
  python/tests/unit/test_audit_path.py
Due: mypy, pytest

fix(audit): redact ssh key fields from audit logs
  go/internal/audit/redact.go
  go/internal/server/audit_redaction_coverage_test.go
  go/internal/server/server.go
  python/src/linodemcp/audit/redact.py
  python/tests/unit/test_audit_redact.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(audit): add rotated log retention sweeper
  go/cmd/linodemcp/main.go
  go/internal/audit/retention.go
  go/internal/audit/retention_test.go
  python/src/linodemcp/audit/__init__.py
  python/src/linodemcp/audit/retention.py
  python/src/linodemcp/main.py
  python/tests/unit/test_audit_retention.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(go): add stackscript create route and tool
  go/internal/linode/methods_compute.go
  go/internal/linode/retry.go
  go/internal/linode/types_compute.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_stackscripts_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

fix(linode): skip unsafe retries for non-idempotent methods
  go/internal/linode/client.go
  go/internal/linode/errors.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/linode/testconsts_test.go
Due: gofumpt, goimports, go-test

feat: add image creation route
  go/internal/linode/methods_compute.go
  go/internal/linode/retry.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/linode/types_compute.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_images_write.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

Add image creation route (#104)
  go/internal/linode/methods_compute.go
  go/internal/linode/retry.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/linode/types_compute.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_images_write.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

feat(go): add get-ssh-key client method, retry wrapper, and tool
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/linode/testconsts_test.go
  go/internal/server/server.go
  go/internal/tools/linode_sshkeys.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat(go): add get-ssh-key client method and tool
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/linode/testconsts_test.go
  go/internal/server/server.go
  go/internal/tools/linode_sshkeys.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat(go): add domain record get route
  go/internal/linode/methods_dns.go
  go/internal/linode/retry.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_domains.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add Go domain record get route (#106)
  go/internal/linode/methods_dns.go
  go/internal/linode/retry.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_domains.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat: add NodeBalancer config get tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add NodeBalancer config get tool (#107)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(audit): add recent audit event tool
  go/internal/audit/reader.go
  go/internal/audit/reader_test.go
  go/internal/server/server.go
  go/internal/tools/linode_audit_recent.go
  go/internal/tools/linode_audit_recent_test.go
  python/src/linodemcp/audit/__init__.py
  python/src/linodemcp/audit/event.py
  python/src/linodemcp/audit/reader.py
  python/src/linodemcp/audit/retention.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_audit_recent.py
  python/tests/unit/test_audit_reader.py
  python/tests/unit/test_audit_recent_tool.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(python): add nodebalancer config create tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add NodeBalancer config list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add NodeBalancer config list support (#109)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add list nodebalancer types tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

feat(python): add list IPv6 ranges tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_vpc.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/uv.lock
Due: mypy, pytest

feat: add IPv6 pools list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_vpc.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add IPv6 pools list tool (#112)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_vpc.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add POST /networking/ipv4/share route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add Python IPv4 assignment tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add Python IPv4 assignment tool (#114)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add PUT /networking/ips/{address} route for RDNS update
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add networking IP get tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add networking IP get tool (#116)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

fix(python): correct share_ipv4s endpoint to /networking/ips/share
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

fix(python): use networking IP assign route
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

Fix Python networking IP assignment route
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

feat(python): add POST /v4/networking/ips route for IP allocation
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add POST /networking/ips route for IP allocation
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest
