Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

gofumpt:
  name: gofumpt
  entry: gofumpt -w
  language: golang
  additional_dependencies:
  - mvdan.cc/gofumpt@latest

goimports:
  name: goimports
  entry: goimports -w
  language: golang
  additional_dependencies:
  - golang.org/x/tools/cmd/goimports@latest

go-test:
  name: go test
  entry: bash -c 'cd go && go test -race ./...'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd python && .venv/bin/pytest -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

Add IPv6 ranges list route
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_ipv6_lists.go
  go/internal/tools/linode_ipv6_pools.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
Due: gofumpt, goimports, go-test

feat(go): add IPv6 range creation
  go/internal/linode/errors.go
  go/internal/linode/ipv6_pools_test.go
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_ipv6_pools_test.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

Add Go IPv6 range create route
  go/internal/linode/errors.go
  go/internal/linode/ipv6_pools_test.go
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_ipv6_pools_test.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat(tools): add dry-run previews to delete tools
  go/internal/tools/destroy.go
  go/internal/tools/linode_domain_records_write.go
  go/internal/tools/linode_firewall_devices_test.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_firewalls_write.go
  go/internal/tools/linode_nodebalancers_write.go
  go/internal/tools/linode_vpc_test.go
  go/internal/tools/linode_vpc_write.go
  go/internal/tools/tools_write_test.go
  python/src/linodemcp/tools/linode_firewalls_write.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add IPv6 range get route
  go/internal/linode/errors.go
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking_ipv6_ranges.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

Add Go IPv6 range lookup route
  go/internal/linode/errors.go
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking_ipv6_ranges.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat: add IPv6 range delete route
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking_ipv6_ranges.go
  go/internal/linode/retry.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
Due: gofumpt, goimports, go-test

Add IPv6 range delete route
  go/internal/linode/ipv6_ranges_test.go
  go/internal/linode/methods_networking_ipv6_ranges.go
  go/internal/linode/retry.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
Due: gofumpt, goimports, go-test

feat(go): add VLAN list networking tool
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/linode/vlans_list_test.go
  go/internal/profiles/builtin.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_vlans_test.go
Due: gofumpt, goimports, go-test

Add Go VLAN list networking tool
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/linode/vlans_list_test.go
  go/internal/profiles/builtin.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_vlans_test.go
Due: gofumpt, goimports, go-test

feat(go): add VLAN delete tool
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/vlans_list_test.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_vlans_test.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat: add NodeBalancer types route
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_types_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_nodebalancer_types_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

Add NodeBalancer types route
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_types_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/linode_nodebalancer_types_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

feat(tools): add dry-run previews for destructive deletes
  go/internal/tools/linode_lke_test.go
  go/internal/tools/linode_lke_write.go
  python/src/linodemcp/tools/linode_lke_write.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add nodebalancer config list route
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

Add NodeBalancer config list route
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

feat(networking): add dry-run previews for VLAN and IPv6 range deletes
  go/internal/tools/errors.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_ipv6_ranges_test.go
  go/internal/tools/linode_vlans_test.go
  python/src/linodemcp/tools/linode_networking.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(instance): add dry-run previews for disk and IP deletes
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_instance_disks.go
  go/internal/tools/linode_instance_ips.go
  python/src/linodemcp/tools/linode_instance_disks.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(instance): add dry-run previews for destructive tools
  go/internal/tools/destroy.go
  go/internal/tools/helpers.go
  go/internal/tools/linode_instance_actions.go
  go/internal/tools/linode_instance_backups.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_instance_disks.go
  go/internal/tools/linode_instance_ips.go
  python/src/linodemcp/tools/linode_instance_actions.py
  python/src/linodemcp/tools/linode_instance_backups.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix: add dry-run preview for NodeBalancer config create
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

test: sync Python redaction fixture with ssl_key
  python/tests/unit/test_audit_redact.py
Due: mypy, pytest

feat(go): add NodeBalancer config create tool
  go/internal/audit/redact.go
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/server/audit_redaction_coverage_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
  python/src/linodemcp/audit/redact.py
Due: gofumpt, goimports, go-test, mypy, pytest

test: avoid token-like image dry-run fixture
  go/internal/tools/linode_images_dryrun_test.go
Due: gofumpt, goimports, go-test

Add Go NodeBalancer config create tool
  go/internal/audit/redact.go
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/server/audit_redaction_coverage_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_images_dryrun_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
  python/src/linodemcp/audit/redact.py
  python/tests/unit/test_audit_redact.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(go): list NodeBalancer config nodes
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

Add Go NodeBalancer config nodes list
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat: add NodeBalancer config get route
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

feat(go): add nodebalancer node create route
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

Add Go NodeBalancer config node creation
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

feat: add NodeBalancer config node get route
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

Add NodeBalancer config node get route
  go/internal/linode/errors.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat: add NodeBalancer config update tool
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

Add NodeBalancer config update tool
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat(go): add nodebalancer config delete tool
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_instance_configs_test.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancer_configs_write.go
  go/internal/tools/linode_nodebalancer_configs_write_test.go
Due: gofumpt, goimports, go-test

Add NodeBalancer config delete tool
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_instance_configs_test.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancer_configs_write.go
  go/internal/tools/linode_nodebalancer_configs_write_test.go
Due: gofumpt, goimports, go-test

feat: add NodeBalancer node delete tool
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

Add NodeBalancer config node delete tool
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_configs_test.go
  go/internal/linode/retry.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_nodebalancers.go
Due: gofumpt, goimports, go-test

Path conditions:
  gofumpt: any of: ^go/.*\.go$ and \.go$
  goimports: any of: ^go/.*\.go$ and \.go$
  go-test: any of: ^go/ and \.go$
  mypy: any of: ^python/.*\.py$ and \.py$
  pytest: any of: ^python/ and \.py$
