Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

Add Go tag creation route
  go/internal/linode/methods_tags.go
  go/internal/linode/retry.go
  go/internal/linode/tags_test.go
  go/internal/linode/types_tags.go
  go/internal/profiles/builtin.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/scope.go
  go/internal/profiles/scope_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_tags.go
  go/internal/tools/linode_tags_test.go
Due: gofumpt, goimports, go-test

feat(go): add volume types list route
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/linode/volume_types_test.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/scope_test.go
  go/internal/profiles/testconst_test.go
  go/internal/server/profile_filter_test.go
  go/internal/server/server.go
  go/internal/tools/linode_volumes.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add volume types list route
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/linode/volume_types_test.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/scope_test.go
  go/internal/profiles/testconst_test.go
  go/internal/server/profile_filter_test.go
  go/internal/server/server.go
  go/internal/tools/linode_volumes.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat(go): add tag delete route
  go/internal/linode/methods_tags.go
  go/internal/linode/retry.go
  go/internal/linode/tags_test.go
  go/internal/profiles/builtin.go
  go/internal/profiles/scope.go
  go/internal/profiles/scope_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/linode_tagged_objects_test.go
  go/internal/tools/linode_tags.go
  go/internal/tools/linode_tags_test.go
Due: gofumpt, goimports, go-test

feat: add account agreements list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python account agreements list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account availability list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add volume clone route
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/linode/volumes_clone_test.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/loader_test.go
  go/internal/profiles/testconst_test.go
  go/internal/server/server.go
  go/internal/server/volumes_clone_registration_test.go
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_volumes_clone_test.go
  go/internal/tools/linode_volumes_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

Add volume clone route
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/linode/volumes_clone_test.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/loader_test.go
  go/internal/profiles/testconst_test.go
  go/internal/server/server.go
  go/internal/server/volumes_clone_registration_test.go
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_volumes_clone_test.go
  go/internal/tools/linode_volumes_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

Add Python account availability list support
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): acknowledge account agreements
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add account availability region lookup
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python account availability region lookup
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account betas list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account beta get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add Python account beta get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(dry-run): add side effects to write previews
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_account.go
  go/internal/tools/linode_account_misc_dryrun_test.go
  go/internal/tools/linode_account_support_ticket_attachment_create_test.go
  go/internal/tools/linode_account_support_ticket_create_test.go
  go/internal/tools/linode_account_support_ticket_reply_create_test.go
  go/internal/tools/linode_profile.go
  go/internal/tools/linode_profile_preferences_update_test.go
  go/internal/tools/linode_profile_security_questions.go
  go/internal/tools/linode_profile_security_questions_test.go
  go/internal/tools/linode_profile_tfa_disable_test.go
  go/internal/tools/linode_profile_tfa_enable_confirm_test.go
  go/internal/tools/linode_profile_token_test.go
  go/internal/tools/linode_profile_tokens_test.go
  go/internal/tools/linode_support.go
  go/internal/tools/linode_support_test.go
  go/internal/tools/linode_tags.go
  go/internal/tools/linode_tags_test.go
  go/internal/tools/tools_test.go
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/tools/linode_profile.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

style(python): sort beta tool exports
  python/src/linodemcp/tools/__init__.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

fix(python): require confirm for beta enrollment schema
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add account beta enrollment tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/helpers.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_tools_dryrun.py
Due: mypy, pytest

style(go): format dry-run dependency walk
  go/internal/tools/dryrun_walks.go
Due: gofumpt, goimports, go-test

Add Python account beta enrollment tool
  go/internal/tools/dryrun_walks.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/helpers.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_tools_dryrun.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(python): add account cancel tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python account cancel tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account child accounts listing
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python account child accounts listing
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account child account get
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python child account get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account events list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python account events list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add child account proxy token route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account event get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add Python child account proxy token route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account event seen route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python account event seen route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add account invoices list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest
