Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

chore(deps): update github actions (non-major)
  .github/workflows/renovate.yml
Due: none

fix(deps): update go modules (non-major)
  go/go.mod
  go/go.sum
Due: none

fix(observability): record failed API request metrics
  python/pyproject.toml
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/observability/__init__.py
  python/tests/unit/test_observability.py
Due: mypy, pytest

chore(deps): lock file maintenance python deps (non-major)
  python/uv.lock
Due: none

chore(deps): update github actions (non-major)
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
Due: none

chore(deps): lock file maintenance
  python/uv.lock
Due: none

chore(deps): update github actions
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
Due: none

fix(deps): update module github.com/mark3labs/mcp-go to v0.55.1
  go/go.mod
  go/go.sum
Due: none

fix(tools)!: sync Go and Python tool schemas
  docs/tool-parity-baseline.txt
  go/internal/tools/linode_account.go
  go/internal/tools/linode_databases.go
  go/internal/tools/linode_databases_test.go
  go/internal/tools/linode_instance_actions.go
  go/internal/tools/linode_instance_configs.go
  go/internal/tools/linode_instance_configs_dryrun_test.go
  go/internal/tools/linode_instance_configs_test.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
  python/src/linodemcp/tools/linode_domain_records.py
  python/src/linodemcp/tools/linode_domains_write.py
  python/src/linodemcp/tools/linode_images.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/tools/linode_profile.py
  python/tests/unit/test_images_sharegroups_route.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_more_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(tools)!: use native schemas for write tool inputs
  docs/tool-parity-baseline.txt
  go/internal/linode/account_payment_create_test.go
  go/internal/linode/types_account.go
  go/internal/linode/types_compute.go
  go/internal/tools/dryrun_walks.go
  go/internal/tools/errors.go
  go/internal/tools/helpers.go
  go/internal/tools/linode_account.go
  go/internal/tools/linode_account_payment_create_test.go
  go/internal/tools/linode_account_payment_dryrun_test.go
  go/internal/tools/linode_databases.go
  go/internal/tools/linode_databases_test.go
  go/internal/tools/linode_firewall_rules_test.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_image_sharegroup_images_add_test.go
  go/internal/tools/linode_images_write.go
  go/internal/tools/linode_images_write_test.go
  go/internal/tools/linode_instance_actions.go
  go/internal/tools/linode_instance_configs.go
  go/internal/tools/linode_instance_configs_test.go
  go/internal/tools/linode_instance_interface_add_test.go
  go/internal/tools/linode_instances.go
  go/internal/tools/linode_instances_write.go
  go/internal/tools/linode_lke_test.go
  go/internal/tools/linode_lke_write.go
  go/internal/tools/linode_lke_write_dryrun_test.go
  go/internal/tools/linode_networking_ips.go
  go/internal/tools/linode_object_storage.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/linode_stackscript_update_test.go
  go/internal/tools/linode_stackscripts_dryrun_test.go
  go/internal/tools/linode_stackscripts_write.go
  go/internal/tools/linode_volumes_write.go
  go/internal/tools/linode_vpc_write.go
  go/internal/tools/tools_write_test.go
  python/src/linodemcp/tools/linode_object_storage.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

chore(deps): update renovatebot/github-action action to v46.1.17
  .github/workflows/renovate.yml
Due: none

chore(deps): refresh Python lockfile
  python/uv.lock
Due: none

chore(deps): update aquasecurity/trivy-action digest to df678db
  .github/workflows/ci.yml
Due: none

feat: add lock-check target to Makefile
  python/Makefile
  python/uv.lock
Due: none

chore: update betterleaks configuration and allowlists
  .betterleaks.toml
  python/tests/unit/test_images_sharegroups_route.py
Due: mypy, pytest

feat: enhance betterleaks command with verbose output
  Makefile
Due: none

feat: add agent review workflow and formatting checks
  .github/workflows/agent-review.yml
  Makefile
  go/Makefile
  python/Makefile
Due: none

feat: enhance CI and pre-commit hooks for scripts
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  buf.yaml
  go/Makefile
  python/src/linodemcp/linode/__init__.py
  scripts/_msg_extract_go.py
  scripts/_msg_extract_py.py
  scripts/ruff.toml
  scripts/verify_behavior.py
  scripts/verify_messages.py
  scripts/verify_sync_defaults.py
  scripts/verify_sync_enums.py
  scripts/verify_tool_parity.py
Due: mypy, pytest

fix: refine mypy configuration for optional dependencies
  .github/workflows/ci.yml
  python/pyproject.toml
Due: none

feat: unify CI checks and pre-push hooks for consistency
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docs/adding-a-language.md
  go/Makefile
  python/Makefile
  python/pyproject.toml
Due: none

ci: single-source gate toolchain, add local check container
  .dockerignore
  .github/workflows/ci.yml
  Makefile
  ci/Dockerfile
  scripts/ci-container-entry.sh
  scripts/ci-setup.sh
Due: none

fix: validate Linode changelog freshness
  python/tests/fixtures/linode_api_changelog.html
  python/tests/unit/test_verify_sync_enums_staleness.py
  scripts/verify_sync_enums.py
Due: mypy, pytest
