Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

gofumpt:
  name: gofumpt
  entry: gofumpt -w
  language: golang
  additional_dependencies:
  - mvdan.cc/gofumpt@latest

goimports:
  name: goimports
  entry: goimports -w
  language: golang
  additional_dependencies:
  - golang.org/x/tools/cmd/goimports@latest

go-test:
  name: go test
  entry: bash -c 'cd go && go test -race ./...'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd python && .venv/bin/pytest -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(networking): add reserved IP list parity
  docs/contracts/behavior-baseline.txt
  docs/contracts/input-proto-baseline.txt
  docs/contracts/read-proto-baseline.txt
  docs/contracts/tool-parity-baseline.txt
  go/internal/linode/methods_networking.go
  go/internal/linode/reserved_ips_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/profiles/reserved_ip_scope_test.go
  go/internal/profiles/scope.go
  go/internal/server/reserved_ip_registration_test.go
  go/internal/server/server.go
  go/internal/tools/errors.go
  go/internal/tools/linode_reserved_ips.go
  go/internal/tools/linode_reserved_ips_defensive_test.go
  go/internal/tools/linode_reserved_ips_test.go
  testdata/behavior/linode_networking_reserved_ip_list.json
Due: gofumpt, goimports, go-test

chore(contracts): recognize null-preserving proto handlers
  docs/contracts/read-proto-baseline.txt
  go/cmd/write-proto-dump/main.go
  go/cmd/write-proto-dump/main_test.go
Due: gofumpt, goimports, go-test

feat(networking): add reserved IP delete parity
  docs/contracts/behavior-baseline.txt
  docs/contracts/input-proto-baseline.txt
  docs/contracts/tool-parity-baseline.txt
  docs/contracts/write-proto-baseline.txt
  go/cmd/write-proto-dump/main_test.go
  go/internal/linode/methods_networking.go
  go/internal/linode/reserved_ips_test.go
  go/internal/linode/retry.go
  go/internal/profiles/reserved_ip_scope_test.go
  go/internal/profiles/scope.go
  go/internal/server/audit_redaction_coverage_test.go
  go/internal/server/reserved_ip_registration_test.go
  go/internal/server/server.go
  go/internal/server/testconsts_test.go
  go/internal/server/volumes_clone_registration_test.go
  go/internal/tools/linode_instance_configs_test.go
  go/internal/tools/linode_networking_dryrun_test.go
  go/internal/tools/linode_networking_ips_test.go
  go/internal/tools/linode_nodebalancer_configs_test.go
  go/internal/tools/linode_reserved_ips.go
  go/internal/tools/linode_reserved_ips_test.go
  go/internal/tools/proto_conformance_corpus_test.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
  go/internal/tools/tools_write_test.go
  go/internal/tools/twostage_destroy_test.go
  python/tests/unit/test_proto_conformance.py
  testdata/behavior/linode_networking_reserved_ip_delete.json
  testdata/conformance/reserved_ip_delete.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat(parity): enhance tool parity checks with OAuth scopes
  Makefile
  docs/contracts/languages.txt
  docs/contracts/tool-parity-baseline.txt
  docs/parity.md
  go/cmd/parity-dump/main.go
  python/src/linodemcp/parity_dump.py
  python/tests/unit/test_parity_dump.py
  python/tests/unit/test_verify_tool_parity.py
  scripts/strip_enum_sentinel.py
  scripts/verify_sync_defaults.py
  scripts/verify_sync_enums.py
  scripts/verify_tool_parity.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(sync): verify per-tool OAuth scopes against the Linode API spec
  .github/workflows/sync-drift.yml
  Makefile
  docs/README.md
  docs/adding-a-language.md
  docs/contracts/scope-sync-baseline.txt
  docs/contracts/tool-parity-baseline.txt
  docs/contracts/tool-routes.txt
  go/internal/profiles/builtin_test.go
  go/internal/profiles/scope.go
  go/internal/profiles/scope_test.go
  go/internal/profiles/testconst_test.go
  go/internal/server/scope_completeness_test.go
  python/src/linodemcp/profiles/scope.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_scope_completeness.py
  python/tests/unit/test_verify_sync_scopes.py
  scripts/verify_sync_scopes.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(profiles): align scope mapping and elevation with API docs
  docs/contracts/scope-sync-baseline.txt
  go/go.mod
  go/go.sum
  go/internal/profiles/builtin.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/loader.go
  go/internal/profiles/loader_test.go
  go/internal/profiles/profile.go
  go/internal/profiles/region_get_scope_test.go
  go/internal/profiles/regions_availability_scope_test.go
  go/internal/profiles/scope.go
  go/internal/profiles/scope_test.go
  go/internal/profiles/testconst_test.go
  go/internal/profiles/validator.go
  go/internal/profiles/validator_test.go
  go/internal/server/scope_completeness_test.go
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/profiles/loader.py
  python/src/linodemcp/profiles/profile.py
  python/src/linodemcp/profiles/scope.py
  python/src/linodemcp/profiles/validator.py
  python/tests/unit/test_parity_dump.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_scope_completeness.py
  python/tests/unit/test_server.py
  python/tests/unit/test_verify_sync_scopes.py
  scripts/verify_sync_scopes.py
Due: gofumpt, goimports, go-test, mypy, pytest

chore(renovate): add auto-merge and remove the schedule window
  .github/workflows/renovate.yml
  renovate.json
Due: none

fix(instances): handle config interface list as a bare array
  go/internal/linode/instance_config_interfaces_list_test.go
  go/internal/profiles/instance_config_interfaces_scope_test.go
  go/internal/server/instance_config_interfaces_registration_test.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/testconsts_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_instances.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
  testdata/behavior/linode_instance_config_interface_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(instances): reject invalid config interface responses
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

fix(instances): reject non-array config interface responses
  go/internal/linode/errors.go
  go/internal/linode/instance_config_interfaces_list_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/linode/proto_list.go
Due: gofumpt, goimports, go-test

fix(instances): reject malformed config interface items
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

fix(instances): handle config interface list as a bare array
  go/internal/linode/errors.go
  go/internal/linode/instance_config_interfaces_list_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/linode/proto_list.go
  go/internal/profiles/instance_config_interfaces_scope_test.go
  go/internal/server/instance_config_interfaces_registration_test.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/testconsts_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_instances.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
  testdata/behavior/linode_instance_config_interface_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

test(behavior): assert post-request API errors
  go/internal/linode/instance_config_interfaces_list_test.go
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
  python/tests/unit/test_linode.py
  testdata/behavior/linode_instance_config_interface_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(firewalls): enforce paginated update responses
  go/internal/linode/errors.go
  go/internal/linode/instance_firewalls_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_firewalls_test.go
  go/internal/linode/proto_list.go
  go/internal/server/behavior_conformance_test.go
  python/src/linodemcp/tools/proto_response.py
  python/tests/unit/test_behavior_conformance.py
  testdata/behavior/linode_instance_firewall_update.json
  testdata/behavior/linode_nodebalancer_firewall_update.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add response-shape gate for behavior fixtures
  Makefile
  coverage.json
  docs/contracts/api-response-shapes-baseline.txt
  docs/contracts/response-shape-baseline.txt
  scripts/verify_baseline_direction.py
  scripts/verify_response_shapes.py
  scripts/verify_sync_response_shapes.py
  testdata/behavior/linode_instance_firewall_update.json
Due: none

fix(regions): decode per-region availability arrays
  go/internal/linode/instance_config_interfaces_list_test.go
  go/internal/linode/methods_compute.go
  go/internal/linode/regions_availability_test.go
  go/internal/server/behavior_conformance_test.go
  go/internal/tools/linode_regions_availability_test.go
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_behavior_conformance.py
  python/tests/unit/test_linode.py
  testdata/behavior/linode_instance_config_interface_list.json
  testdata/behavior/linode_region_availability_get.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix: decode firewall history and region availability to real shapes
  coverage.json
  docs/contracts/response-shape-baseline.txt
  go/internal/linode/errors.go
  go/internal/linode/firewall_rule_versions_test.go
  go/internal/linode/methods_compute.go
  go/internal/linode/methods_networking.go
  go/internal/linode/regions_availability_test.go
  go/internal/tools/linode_firewall_rule_versions_test.go
  go/internal/tools/linode_regions_availability_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_firewalls.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_verify_baseline_direction.py
  testdata/behavior/linode_firewall_rule_version_list.json
  testdata/behavior/linode_region_availability_get.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(regions): reject malformed availability items
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
  testdata/behavior/linode_region_availability_get.json
Due: mypy, pytest

test(behavior): validate fixture outcome selection
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(behavior): ignore rejected shapes in success gate
  scripts/verify_response_shapes.py
Due: none

fix(behavior): align empty error outcome checks
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
  python/tests/unit/test_verify_response_shapes.py
  scripts/verify_response_shapes.py
Due: gofumpt, goimports, go-test, mypy, pytest

chore(deps): update github actions (non-major)
  .github/workflows/agent-review.yml
  .github/workflows/baseline-guard.yml
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/sync-drift.yml
Due: none

chore(deps): update actions/setup-go action to v7
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
Due: none

test(behavior): support post-request API errors
  go/internal/linode/instance_config_interfaces_list_test.go
  go/internal/server/behavior_conformance_test.go
  python/tests/unit/test_behavior_conformance.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_verify_response_shapes.py
  scripts/verify_response_shapes.py
  testdata/behavior/linode_instance_config_interface_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(firewalls): enforce paginated update responses
  go/internal/linode/errors.go
  go/internal/linode/instance_firewalls_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_firewalls_test.go
  go/internal/linode/proto_list.go
  python/src/linodemcp/tools/proto_response.py
  python/tests/unit/test_behavior_conformance.py
  testdata/behavior/linode_instance_firewall_update.json
  testdata/behavior/linode_nodebalancer_firewall_update.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(regions): decode per-region availability arrays
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_verify_response_shapes.py
  scripts/verify_response_shapes.py
  testdata/behavior/linode_region_availability_get.json
Due: mypy, pytest

refactor(linode): reword array-element validation messages
  coverage.json
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
  testdata/behavior/linode_region_availability_get.json
Due: mypy, pytest

fix(instances): validate interface list response shapes
  python/src/linodemcp/tools/linode_instances.py
  python/tests/unit/test_linode_instance_config_update_route.py
  python/tests/unit/test_verify_sync_scopes.py
  testdata/behavior/linode_instance_interface_list.json
Due: mypy, pytest

fix(ci): constrain Ruff to the compatible minor version
  python/pyproject.toml
  python/uv.lock
Due: none

fix(deps): update module github.com/mark3labs/mcp-go to v0.57.0
  go/go.mod
Due: none

chore(deps): update actions/setup-python action to v7
  .github/workflows/ci.yml
  .github/workflows/release-artifacts.yml
Due: none

fix(ci): restore compatibility with Ruff 0.16
  python/pyproject.toml
  python/src/linodemcp/config/watcher.py
  scripts/verify_sync_defaults.py
  scripts/verify_sync_enums.py
  scripts/verify_sync_pagination.py
  scripts/verify_sync_response_shapes.py
  scripts/verify_sync_scopes.py
Due: mypy, pytest

fix(deps): add module checksums and constrain ruff
  go/go.sum
  python/pyproject.toml
  python/uv.lock
Due: none

test(contracts): stabilize dynamic route evidence
  python/tests/unit/test_verify_sync_scopes.py
Due: mypy, pytest

feat: add tool-float gate and adopt ruff 0.16
  Makefile
  coverage.json
  python/pyproject.toml
  python/src/linodemcp/config/watcher.py
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/tools/linode_databases.py
  python/src/linodemcp/tools/linode_domains_write.py
  python/src/linodemcp/tools/linode_firewalls_write.py
  python/src/linodemcp/tools/linode_instance_actions.py
  python/src/linodemcp/tools/linode_instance_backups.py
  python/src/linodemcp/tools/linode_instance_disks.py
  python/src/linodemcp/tools/linode_instances.py
  python/src/linodemcp/tools/linode_lke_write.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/tools/linode_placement_groups_write.py
  python/src/linodemcp/tools/linode_profile.py
  python/src/linodemcp/tools/linode_volumes_write.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_verify_sync_scopes.py
  python/tests/unit/test_verify_tool_float.py
  python/tests/unit/test_verify_tool_parity.py
  python/uv.lock
  scripts/verify_coverage_floor.py
  scripts/verify_sync_defaults.py
  scripts/verify_sync_enums.py
  scripts/verify_sync_pagination.py
  scripts/verify_sync_response_shapes.py
  scripts/verify_sync_scopes.py
  scripts/verify_tool_float.py
Due: mypy, pytest

fix(instances): expose config interface list route
  go/internal/linode/methods_instance_deep.go
Due: gofumpt, goimports, go-test

Path conditions:
  gofumpt: any of: ^go/.*\.go$ and \.go$
  goimports: any of: ^go/.*\.go$ and \.go$
  go-test: any of: ^go/ and \.go$
  mypy: any of: ^python/.*\.py$ and \.py$
  pytest: any of: ^python/ and \.py$
