Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(python): add monitor metric definitions route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add monitor dashboards list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
Due: mypy, pytest

Add Python monitor service dashboards list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
Due: mypy, pytest

feat: add monitor alert definition delete tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
Due: mypy, pytest

Add monitor alert definition delete tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
Due: mypy, pytest

feat: add monitor alert definition get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add monitor alert definition create
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(python): add monitor alert definitions list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python monitor alert definitions list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add monitor service get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add monitor service get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add monitor services list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add monitor dashboard get tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add monitor dashboards list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add monitor alert definition update route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_linode_monitor_write.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
Due: mypy, pytest

Add monitor alert definition update route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_linode_monitor_write.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
Due: mypy, pytest

feat(python): add monitor alert definitions list
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add Python monitor alert definitions list
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat(audit): add audit health reporting
  go/internal/audit/health.go
  go/internal/audit/health_test.go
  go/internal/server/server.go
  go/internal/tools/linode_audit_health.go
  go/internal/tools/linode_audit_health_test.go
  python/src/linodemcp/audit/__init__.py
  python/src/linodemcp/audit/health.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_audit_health.py
  python/src/linodemcp/tools/linode_audit_summary.py
  python/tests/unit/test_audit_health.py
  python/tests/unit/test_audit_health_tool.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add monitor alert channels list
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

Add monitor alert channels list
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_builtin.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
Due: mypy, pytest

feat: add managed stats tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_account.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add account agreements tool
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/tools/linode_account.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add GET account agreements support
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/tools/linode_account.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat: add account agreements acknowledgement
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add account agreements acknowledgement route
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat: add account availability route
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add account availability route
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat: add regional account availability lookup
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add regional account availability lookup
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat: add account beta program listing
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/profiles/builtin.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat: add account beta enrollment tool
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_account.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test
