Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

gofumpt:
  name: gofumpt
  entry: gofumpt -w
  language: golang
  additional_dependencies:
  - mvdan.cc/gofumpt@latest

goimports:
  name: goimports
  entry: goimports -w
  language: golang
  additional_dependencies:
  - golang.org/x/tools/cmd/goimports@latest

go-test:
  name: go test
  entry: bash -c 'cd go && go test -race ./...'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd python && .venv/bin/pytest -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

test: replace monitor alert definition assertions
  go/internal/tools/monitor_service_alert_definition_create_test.go
  go/internal/tools/monitor_service_alert_definition_delete_test.go
  go/internal/tools/monitor_service_alert_definition_get_test.go
  go/internal/tools/monitor_service_alert_definition_update_confirm_test.go
  go/internal/tools/monitor_service_alert_definition_update_test.go
  go/internal/tools/monitor_service_alert_definition_update_validation_test.go
Due: gofumpt, goimports, go-test

test: replace monitor service assertions
  go/internal/tools/monitor_service_token_create_test.go
  go/internal/tools/monitor_services_test.go
Due: gofumpt, goimports, go-test

test: replace monitor test assertions
  go/internal/tools/monitor_alert_channels_test.go
  go/internal/tools/monitor_alert_definitions_test.go
  go/internal/tools/monitor_dashboards_test.go
  go/internal/tools/monitor_service_alert_definition_create_test.go
  go/internal/tools/monitor_service_alert_definition_delete_test.go
  go/internal/tools/monitor_service_alert_definition_get_test.go
  go/internal/tools/monitor_service_alert_definition_update_confirm_test.go
  go/internal/tools/monitor_service_alert_definition_update_test.go
  go/internal/tools/monitor_service_alert_definition_update_validation_test.go
  go/internal/tools/monitor_service_dashboards_test.go
  go/internal/tools/monitor_service_token_create_test.go
  go/internal/tools/monitor_services_test.go
Due: gofumpt, goimports, go-test

test: remove testify from instance config tests
  go/internal/linode/instance_config_get_test.go
  go/internal/linode/instance_config_interfaces_test.go
  go/internal/linode/instance_config_test.go
  go/internal/linode/instance_configs_test.go
Due: gofumpt, goimports, go-test

test(go): replace instance interface testify assertions
  go/internal/linode/instance_interface_add_test.go
  go/internal/linode/instance_interface_delete_test.go
  go/internal/linode/instance_interface_history_test.go
  go/internal/linode/instance_interface_update_test.go
  go/internal/linode/instance_interfaces_test.go
  go/internal/linode/instance_interfaces_upgrade_test.go
Due: gofumpt, goimports, go-test

test(go): remove testify from core linode tests
  go/internal/linode/circuit_test.go
  go/internal/linode/client_test.go
  go/internal/linode/databases_test.go
  go/internal/linode/errors_test.go
  go/internal/linode/ratelimit_test.go
  go/internal/linode/retry_test.go
  go/internal/linode/retry_wrappers_test.go
Due: gofumpt, goimports, go-test

test(go): remove testify from core linode tests (#672)
  go/internal/linode/circuit_test.go
  go/internal/linode/client_test.go
  go/internal/linode/databases_test.go
  go/internal/linode/errors_test.go
  go/internal/linode/ratelimit_test.go
  go/internal/linode/retry_test.go
  go/internal/linode/retry_wrappers_test.go
Due: gofumpt, goimports, go-test

ci: show Qwen review output in workflow logs
  .github/workflows/qwen-review.yml
Due: none

ci: clarify Qwen output truncation units
  .github/workflows/qwen-review.yml
Due: none

ci: redact raw Qwen output in visible summary
  .github/workflows/qwen-review.yml
Due: none

ci: redact structured Qwen review display
  .github/workflows/qwen-review.yml
Due: none

ci: tolerate null Qwen review text fields
  .github/workflows/qwen-review.yml
Due: none

ci: redact Qwen output before truncating
  .github/workflows/qwen-review.yml
Due: none

ci: show Qwen review output in workflow logs (#699)
  .github/workflows/qwen-review.yml
Due: none

fix: clear Go config lint findings
  go/cmd/linodemcp/main.go
  go/internal/cli/profile.go
  go/internal/config/config.go
  go/internal/config/config_test.go
  go/internal/linode/client_test.go
  go/internal/observability/metrics.go
  go/internal/observability/tracing.go
  go/internal/server/server.go
  go/internal/tools/linode_profile_draft_save_test.go
Due: gofumpt, goimports, go-test

test: rename Go IP fixtures for lint
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_managed_linode_settings_update_test.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

Fix Go security lint failures
  go/cmd/linodemcp/main.go
  go/internal/cli/profile.go
  go/internal/config/config.go
  go/internal/config/config_test.go
  go/internal/linode/client_test.go
  go/internal/observability/metrics.go
  go/internal/observability/tracing.go
  go/internal/server/server.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_managed_linode_settings_update_test.go
  go/internal/tools/linode_profile_draft_save_test.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

Update github actions (non-major)
  .github/workflows/ci.yml
  .github/workflows/qwen-review.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

Update dependency structlog to v26
  python/pyproject.toml
  python/uv.lock
Due: none

fix(python): update IP assignment route path
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

fix(python): use networking IP share endpoint
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

fix: expose networking IP assign route to catalog
  go/internal/linode/methods_networking.go
Due: gofumpt, goimports, go-test

Fix Python IP share route path
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Make networking IP assign routes visible to catalog
  go/internal/linode/methods_networking.go
Due: gofumpt, goimports, go-test

docs: remove spec references from docs and comments
  README.md
  docs/profiles.md
  go/internal/audit/event.go
  go/internal/profiles/profile.go
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/profiles/profile.py
  python/tests/unit/test_profiles_loader.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(python): add networking IPv4 assign route
  go/internal/tools/twostage_destroy_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

Fix Python networking IPv4 assign route
  go/internal/tools/twostage_destroy_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix: use IPv4 share route in Python client
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add Python networking IP share route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_version.py
Due: mypy, pytest

Add Python networking IP share route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_version.py
Due: mypy, pytest

feat(twostage): add plan/apply to more destroy tools
  docs/two-stage-writes.md
  go/internal/tools/destroy.go
  go/internal/tools/linode_databases.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_images.go
  go/internal/tools/linode_instance_actions.go
  go/internal/tools/linode_instance_backups.go
  go/internal/tools/linode_instance_ips.go
  go/internal/tools/linode_ipv6_ranges.go
  go/internal/tools/linode_lke_write.go
  go/internal/tools/linode_object_storage_write.go
  go/internal/tools/linode_tags.go
  go/internal/tools/twostage_destroy_test.go
  go/internal/twostage/hash_ignore.go
  go/internal/twostage/hash_ignore_test.go
  python/src/linodemcp/tools/linode_account.py
  python/src/linodemcp/tools/linode_databases.py
  python/src/linodemcp/tools/linode_firewalls_write.py
  python/src/linodemcp/tools/linode_images.py
  python/src/linodemcp/tools/linode_instance_actions.py
  python/src/linodemcp/tools/linode_instance_backups.py
  python/src/linodemcp/tools/linode_instance_ips.py
  python/src/linodemcp/tools/linode_lke_write.py
  python/src/linodemcp/tools/linode_networking.py
  python/src/linodemcp/tools/linode_object_storage_write.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/src/linodemcp/twostage/hash_ignore.py
  python/tests/unit/test_twostage_hash_ignore.py
  python/tests/unit/test_twostage_more_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

Path conditions:
  gofumpt: any of: ^go/.*\.go$ and \.go$
  goimports: any of: ^go/.*\.go$ and \.go$
  go-test: any of: ^go/ and \.go$
  mypy: any of: ^python/.*\.py$ and \.py$
  pytest: any of: ^python/ and \.py$
