Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

feat: add NodeBalancer firewall assignment update tool (#85)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add NodeBalancer firewall list tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add NodeBalancer config rebuild tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add NodeBalancer config rebuild support (#87)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add delete NodeBalancer config node route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add NodeBalancer config node update tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add NodeBalancer config node update tool (#89)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add NodeBalancer config node get route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profiles): save profile drafts to config
  go/internal/profiles/builder/diff.go
  go/internal/server/server.go
  go/internal/tools/errors.go
  go/internal/tools/linode_profile_draft_save.go
  go/internal/tools/linode_profile_draft_save_test.go
  go/internal/tools/linode_profile_draft_test.go
  go/internal/tools/testconsts_test.go
  python/src/linodemcp/profiles/builder/__init__.py
  python/src/linodemcp/profiles/builder/diff.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/linode_profile_draft_save.py
  python/tests/unit/test_linode_profile_draft_save.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add NodeBalancer config node create tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add NodeBalancer config node create tool (#91)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

docs(profiles): add profile reference and recipes
  README.md
  docs/profile-recipes.md
  docs/profiles.md
Due: none

feat: add NodeBalancer config nodes list endpoint
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add NodeBalancer config delete tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

Add Python NodeBalancer config delete tool (#93)
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_profiles_scope.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add update_nodebalancer_config route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(audit): add audit event schemas and redaction helpers
  go/internal/audit/event.go
  go/internal/audit/event_test.go
  go/internal/audit/redact.go
  go/internal/audit/redact_test.go
  go/internal/audit/testconsts_test.go
  python/src/linodemcp/audit/__init__.py
  python/src/linodemcp/audit/event.py
  python/src/linodemcp/audit/redact.py
  python/tests/unit/test_audit_event.py
  python/tests/unit/test_audit_redact.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(go): add PUT /v4/volumes/{id} route for volume updates
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/server/server.go
  go/internal/tools/linode_volumes_write.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

Merge: add PUT /v4/volumes/{id} route for volume updates
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/server/server.go
  go/internal/tools/linode_volumes_write.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

feat: add SSH key update tool
  go/internal/linode/methods_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_storage.go
  go/internal/profiles/builtin_test.go
  go/internal/server/server.go
  go/internal/tools/helpers.go
  go/internal/tools/helpers_test.go
  go/internal/tools/linode_sshkeys_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

feat(audit): capture tool dispatch audit events
  go/internal/audit/sink.go
  go/internal/audit/sink_test.go
  go/internal/server/audit_middleware_test.go
  go/internal/server/server.go
  python/src/linodemcp/audit/__init__.py
  python/src/linodemcp/audit/sink.py
  python/src/linodemcp/server/__init__.py
  python/tests/unit/test_audit_middleware.py
  python/tests/unit/test_audit_sink.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(go): add PUT /v4/profile client method
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
Due: gofumpt, goimports, go-test

feat(go): add PUT /linode/instances/{id} client method for updating a Linode
  go/internal/linode/methods_compute.go
  go/internal/linode/retry.go
  go/internal/linode/retry_test.go
  go/internal/linode/types_compute.go
Due: gofumpt, goimports, go-test

feat(go): add account update route
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

Add Go account update route (#99)
  go/internal/linode/client_test.go
  go/internal/linode/methods_account.go
  go/internal/linode/retry.go
  go/internal/linode/types_account.go
  go/internal/server/server.go
  go/internal/tools/linode_account.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_test.go
Due: gofumpt, goimports, go-test

feat(audit): add rolling JSONL audit sink
  go/cmd/linodemcp/main.go
  go/internal/audit/errors.go
  go/internal/audit/jsonl.go
  go/internal/audit/jsonl_test.go
  go/internal/audit/path.go
  go/internal/audit/path_test.go
  go/internal/tools/helpers.go
  go/internal/tools/helpers_test.go
Due: gofumpt, goimports, go-test

feat(go): add SSL certificate upload for Object Storage buckets
  go/internal/linode/methods_object_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_object_storage.go
  go/internal/server/server.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/linode_object_storage_write.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat: add object storage bucket access allow route
  go/internal/linode/client_test.go
  go/internal/linode/methods_object_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_object_storage.go
  go/internal/server/profile_filter_test.go
  go/internal/server/server.go
  go/internal/tools/errors.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/linode_object_storage_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
  go/internal/tools/validation.go
Due: gofumpt, goimports, go-test

feat: add object storage bucket access allow route (#101)
  go/internal/linode/client_test.go
  go/internal/linode/methods_object_storage.go
  go/internal/linode/retry.go
  go/internal/linode/types_object_storage.go
  go/internal/server/profile_filter_test.go
  go/internal/server/server.go
  go/internal/tools/errors.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/linode_object_storage_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
  go/internal/tools/validation.go
Due: gofumpt, goimports, go-test

feat(instance-ip): add reverse DNS update tool
  go/internal/linode/instance_ip_update_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/linode/retry.go
  go/internal/linode/types_instance_deep.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/scope_test.go
  go/internal/server/server.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_instance_ips.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test

feat(instance-ip): add reverse DNS update tool (#102)
  go/internal/linode/instance_ip_update_test.go
  go/internal/linode/methods_instance_deep.go
  go/internal/linode/retry.go
  go/internal/linode/types_instance_deep.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/scope_test.go
  go/internal/server/server.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_instance_ips.go
  go/internal/tools/testconsts_test.go
Due: gofumpt, goimports, go-test
