Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

gofumpt:
  name: gofumpt
  entry: gofumpt -w
  language: golang
  additional_dependencies:
  - mvdan.cc/gofumpt@latest

goimports:
  name: goimports
  entry: goimports -w
  language: golang
  additional_dependencies:
  - golang.org/x/tools/cmd/goimports@latest

go-test:
  name: go test
  entry: bash -c 'cd go && go test -race ./...'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd python && .venv/bin/pytest -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs(readme): add installation steps and MCP client setup
  README.md
  python/pyproject.toml
  python/ruff.toml
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/server/__init__.py
  python/tests/conftest.py
Due: mypy, pytest

feat: containerize Go and Python implementations with root Makefile
  Makefile
  README.md
  go/.dockerignore
  go/Dockerfile
  python/.dockerignore
  python/Dockerfile
Due: none

updated readme
  README.md
Due: none

feat(lke): add 28 LKE/Kubernetes tools to Go and Python implementations
  README.md
Due: none

feat(lke): add 28 LKE/Kubernetes tools to Go and Python implementations
  go/internal/appinfo/appinfo.go
  go/internal/appinfo/appinfo_test.go
  go/internal/linode/methods_lke.go
  go/internal/linode/retry.go
  go/internal/linode/types_lke.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_lke.go
  go/internal/tools/linode_lke_test.go
  go/internal/tools/linode_lke_write.go
  go/internal/tools/validation.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/tests/unit/test_tools.py
  python/uv.lock
Due: gofumpt, goimports, go-test, mypy, pytest

feat(vpc): add 12 VPC and subnet tools to Go and Python implementations
  README.md
  go/internal/appinfo/appinfo.go
  go/internal/appinfo/appinfo_test.go
  go/internal/linode/methods_vpc.go
  go/internal/linode/retry.go
  go/internal/linode/types_vpc.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/linode_vpc.go
  go/internal/tools/linode_vpc_test.go
  go/internal/tools/linode_vpc_write.go
  go/internal/tools/validation.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: implement comprehensive observability with metrics, tracing, and health checks
  go/Makefile
  go/cmd/linodemcp/main.go
  go/go.mod
  go/go.sum
  go/internal/config/config.go
  go/internal/observability/doc.go
  go/internal/observability/errors.go
  go/internal/observability/health.go
  go/internal/observability/logging.go
  go/internal/observability/metrics.go
  go/internal/observability/middleware.go
  go/internal/observability/observability.go
  go/internal/observability/observability_test.go
  go/internal/observability/tracing.go
  go/internal/tools/linode_domain_records_write.go
  python/pyproject.toml
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/main.py
  python/src/linodemcp/observability/__init__.py
  python/tests/conftest.py
  python/tests/unit/test_config.py
  python/tests/unit/test_observability.py
  python/tests/unit/test_tools.py
  python/uv.lock
Due: gofumpt, goimports, go-test, mypy, pytest

fix(ci): fix pre-commit hooks and remove project-local golangci config
  .pre-commit-config.yaml
  go/.golangci.yml
  go/internal/observability/observability_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/observability/__init__.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/helpers.py
  python/src/linodemcp/tools/linode_lke_write.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(ci): add gates, refactor observability to DI
  .github/scripts/generate-release-notes.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .gitignore
  .pre-commit-config.yaml
  go/Makefile
  go/cmd/linodemcp/main.go
  go/go.mod
  go/go.sum
  go/internal/linode/errors_test.go
  go/internal/linode/retry_wrappers_test.go
  go/internal/observability/errors.go
  go/internal/observability/health.go
  go/internal/observability/logging.go
  go/internal/observability/metrics.go
  go/internal/observability/middleware.go
  go/internal/observability/observability.go
  go/internal/observability/observability_test.go
  go/internal/observability/tracing.go
  go/internal/server/server_test.go
  go/internal/tools/helpers_test.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_lke_test.go
  go/internal/tools/linode_object_storage_test.go
  go/internal/tools/linode_vpc_test.go
  go/internal/tools/tools_error_test.go
  go/internal/tools/tools_test.go
  go/internal/tools/tools_write_test.go
  python/pyproject.toml
  python/src/linodemcp/main.py
  python/src/linodemcp/observability/__init__.py
  python/tests/unit/test_observability.py
  python/uv.lock
  renovate.json5
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add config hot-reload with resilience features
  go/cmd/linodemcp/main.go
  go/internal/config/errors.go
  go/internal/config/watcher.go
  go/internal/config/watcher_test.go
  go/internal/linode/client.go
  go/internal/linode/errors.go
  go/internal/linode/ratelimit.go
  go/internal/linode/ratelimit_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  go/internal/tools/helpers.go
  go/internal/tools/helpers_test.go
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/config/watcher.py
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/main.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/helpers.py
  python/tests/unit/test_config_watcher.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(ci): add fast lane, Python CI, and fmt gate
  .github/workflows/ci.yml
  go/Makefile
  go/internal/observability/metrics.go
  go/internal/observability/middleware.go
  go/internal/observability/tracing.go
Due: gofumpt, goimports, go-test

ci: install betterleaks from release binary
  .github/workflows/ci.yml
Due: none

chore(ci): update security scans and Renovate runner
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
  go/go.mod
  go/go.sum
  python/pyproject.toml
  python/ruff.toml
  python/uv.lock
Due: none

ci(workflows): bump actions to v6
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
Due: none

chore(renovate): enable weekly lockfile maintenance
  renovate.json
  renovate.json5
Due: none

feat(monitor): add Linode service token creation tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

fix(instance)!: send Linode Interfaces payload on create
  go/internal/linode/types_compute.go
  go/internal/tools/linode_instances_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_error_test.go
  go/internal/tools/tools_test.go
  go/internal/tools/tools_write_test.go
  python/Makefile
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/observability/__init__.py
  python/src/linodemcp/server/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/helpers.py
  python/src/linodemcp/tools/linode_domain_records.py
  python/src/linodemcp/tools/linode_domains.py
  python/src/linodemcp/tools/linode_domains_write.py
  python/src/linodemcp/tools/linode_firewalls_write.py
  python/src/linodemcp/tools/linode_instance_get.py
  python/src/linodemcp/tools/linode_instance_write.py
  python/src/linodemcp/tools/linode_lke.py
  python/src/linodemcp/tools/linode_lke_write.py
  python/src/linodemcp/tools/linode_nodebalancers.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/src/linodemcp/tools/linode_sshkeys.py
  python/src/linodemcp/tools/linode_sshkeys_write.py
  python/src/linodemcp/tools/linode_stackscripts.py
  python/src/linodemcp/tools/linode_volumes_write.py
  python/src/linodemcp/tools/linode_vpc.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

refactor(monitor): type entity ID coercion for pyright
  python/src/linodemcp/tools/linode_monitor_write.py
Due: mypy, pytest

feat(python): add IPv6 range delete tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add VLAN list route
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add vlan_delete tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_networking.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat: add Qwen AI PR review workflow and update GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/qwen-review.yml
  .github/workflows/release.yml
Due: none

feat(python): add IPv6 range create tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_vpc_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add IPv6 range lookup tool
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_vpc.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

test(python): fix strict type checks for tool tests
  python/src/linodemcp/server/__init__.py
  python/tests/unit/test_server.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add volume update support
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_volumes_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(python): add SSH key update support
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_sshkeys_write.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

feat(profiles): export profile types and catalog
  go/cmd/builtin-parity-dump/errors.go
  go/cmd/builtin-parity-dump/main.go
  go/internal/profiles/builtin.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/profile.go
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/profiles/profile.py
  python/tests/unit/test_profiles_builtin.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(volumes): mark volume update tool as write
  python/src/linodemcp/tools/linode_volumes_write.py
Due: mypy, pytest

feat(profiles): add active profile resolution
  go/internal/config/config.go
  go/internal/profiles/builtin_test.go
  go/internal/profiles/errors.go
  go/internal/profiles/loader.go
  go/internal/profiles/loader_test.go
  go/internal/profiles/testconst_test.go
  go/internal/server/capability_invariants_test.go
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/profiles/__init__.py
  python/src/linodemcp/profiles/errors.py
  python/src/linodemcp/profiles/loader.py
  python/tests/unit/test_profiles_capability_invariants.py
  python/tests/unit/test_profiles_loader.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat: add profile update route
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

feat(profiles)!: filter registered tools by active profile
  go/internal/server/profile_filter_test.go
  go/internal/server/server.go
  go/internal/server/server_test.go
  python/src/linodemcp/server/__init__.py
  python/tests/unit/test_server.py
Due: gofumpt, goimports, go-test, mypy, pytest

Path conditions:
  gofumpt: any of: ^go/.*\.go$ and \.go$
  goimports: any of: ^go/.*\.go$ and \.go$
  go-test: any of: ^go/ and \.go$
  mypy: any of: ^python/.*\.py$ and \.py$
  pytest: any of: ^python/ and \.py$
