Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` to bump all revs to latest.
repos:
  # Go linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.10.1
    hooks:
      - id: golangci-lint
        args: ['--max-issues-per-linter=0', '--max-same-issues=0']

  # Python linter + formatter (managed - auto-installed by pre-commit)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: ['check', '--force-exclude']
        files: ^python/
      - id: ruff-format
        args: ['--check', '--force-exclude']
        files: ^python/

  # Markdown linter (managed - auto-installed by pre-commit)
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2

  - repo: local
    hooks:
      # Go formatting (managed via language: golang)
      - id: gofumpt
        name: gofumpt
        entry: gofumpt -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['mvdan.cc/gofumpt@latest']

      - id: goimports
        name: goimports
        entry: goimports -w
        files: ^go/.*\.go$
        types: [go]
        language: golang
        additional_dependencies: ['golang.org/x/tools/cmd/goimports@latest']

      # Go tests - language: system because they need project Go modules
      - id: go-test
        name: go test
        entry: bash -c 'cd go && go test -race ./...'
        files: ^go/
        types: [go]
        language: system
        pass_filenames: false

      # mypy - language: system because it needs project venv dependencies
      - id: mypy
        name: mypy
        entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
        files: ^python/.*\.py$
        types: [python]
        language: system
        pass_filenames: false

      # pytest - language: system because it needs project venv dependencies
      - id: pytest
        name: pytest
        entry: bash -c 'cd python && .venv/bin/pytest -q'
        files: ^python/
        types: [python]
        language: system
        pass_filenames: false
        stages: [pre-push]

fix(monitor): preserve scoped alert responses
  go/internal/linode/types_monitor.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  proto/linode/mcp/v1/monitor.proto
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  python/tests/unit/test_server.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
  testdata/conformance/monitor_alert_definition_list.json
  testdata/conformance/monitor_alert_definition_write.json
  testdata/conformance/monitor_service_alert_definition_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(monitor): reject blank clone scope entries
  go/internal/tools/linode_monitor_alert_definition_clone.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
Due: gofumpt, goimports, go-test, mypy, pytest

refactor(monitor): share clone array validation
  go/internal/tools/linode_monitor.go
  go/internal/tools/linode_monitor_alert_definition_clone.go
  go/internal/tools/linode_monitor_alert_definition_update.go
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/validation.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(monitor): reject non-positive clone channel IDs
  go/internal/tools/linode_monitor_alert_definition_clone.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  python/src/linodemcp/tools/linode_monitor_write.py
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
Due: gofumpt, goimports, go-test, mypy, pytest

chore(deps): update renovatebot/github-action action to v46.2.0
  .github/workflows/renovate.yml
Due: none

fix(deps): update module modernc.org/sqlite to v1.55.0
  go/go.mod
Due: none

fix(deps): add sqlite checksums
  go/go.sum
Due: none

fix(monitor): reject non-positive clone IDs in Python client
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_monitor_service_alert_definition_clone.py
Due: mypy, pytest

feat(monitor): add alert definition clone tool
  README.md
  docs/contracts/tool-routes.txt
  docs/contracts/tools-capabilities.txt
  docs/contracts/tools-manifest.txt
  go/internal/linode/methods_monitor.go
  go/internal/linode/monitor_service_alert_definition_clone_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_monitor.go
  go/internal/server/monitor_service_alert_definition_clone_registration_test.go
  go/internal/server/server.go
  go/internal/tools/linode_image_replicate_test.go
  go/internal/tools/linode_monitor.go
  go/internal/tools/linode_monitor_alert_definition_clone.go
  go/internal/tools/linode_monitor_alert_definition_update.go
  go/internal/tools/monitor_service_alert_definition_clone_test.go
  go/internal/tools/testconsts_test.go
  proto/linode/mcp/v1/monitor.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/linode_monitor_write.py
  python/src/linodemcp/validation.py
  python/tests/unit/test_monitor_service_alert_definition_clone.py
  python/tests/unit/test_server.py
  testdata/behavior/linode_monitor_service_alert_definition_clone.json
  testdata/conformance/monitor_alert_definition_list.json
  testdata/conformance/monitor_alert_definition_write.json
  testdata/conformance/monitor_service_alert_definition_list.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(ci): pin Renovate runner major
  .github/workflows/renovate.yml
Due: none

fix(deps): update module modernc.org/sqlite to v1.55.0
  go/go.mod
  go/go.sum
Due: none

ci: run checks on renovate/** pushes for branch automerge
  .github/workflows/ci.yml
  renovate.json
Due: none

docs(ci): explain Renovate runner pin
  .github/workflows/renovate.yml
Due: none

fix(deps): update python deps (non-major)
  python/pyproject.toml
  python/uv.lock
Due: none

chore(deps): update pre-commit hooks (non-major)
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v46.2.1
  .github/workflows/renovate.yml
Due: none

fix(deps): update python deps (non-major) (#768)
  python/pyproject.toml
  python/uv.lock
Due: none

chore(deps): update pre-commit hooks (non-major) (#769)
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v46.2.1 (#770)
  .github/workflows/renovate.yml
Due: none

fix(deps): update go modules (non-major)
  go/go.mod
Due: none

chore(deps): update renovatebot/github-action action to v46.2.2
  .github/workflows/renovate.yml
Due: none

chore(deps): update dependency go-toolchain to v1.27
  go/go.mod
Due: none

chore(deps): update golang docker tag to v1.27
  go/Dockerfile
Due: none

chore(deps): update pre-commit hook golangci/golangci-lint to v2.13.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook golangci/golangci-lint to v2.13.2
  .pre-commit-config.yaml
Due: none

docs: describe the generated surface
  README.md
  docs/README.md
  docs/adding-a-language.md
  docs/cli.md
  docs/gates.md
  docs/object-storage-data-plane.md
  docs/parity.md
  llms.txt
Due: none

build: run the emitter and registry writer in make proto
  .gitignore
  .pre-commit-config.yaml
  Makefile
  go/go.mod
  go/go.sum
  python/pyproject.toml
  python/uv.lock
Due: none
