Repository chadit/LinodeMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-test, mypy, pytest

gofumpt:
  name: gofumpt
  entry: gofumpt -w
  language: golang
  additional_dependencies:
  - mvdan.cc/gofumpt@latest

goimports:
  name: goimports
  entry: goimports -w
  language: golang
  additional_dependencies:
  - golang.org/x/tools/cmd/goimports@latest

go-test:
  name: go test
  entry: bash -c 'cd go && go test -race ./...'
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: bash -c 'cd python && .venv/bin/mypy src/linodemcp'
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd python && .venv/bin/pytest -q'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(parity)!: align Go and Python request behavior
  README.md
  docs/audit-log.md
  go/internal/config/config.go
  go/internal/linode/firewall_proto_write_test.go
  go/internal/linode/methods_networking.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/linode/types_object_storage.go
  go/internal/observability/errors.go
  go/internal/observability/metrics.go
  go/internal/tools/linode_firewall_rules_test.go
  go/internal/tools/linode_firewalls.go
  go/internal/tools/linode_object_storage.go
  go/internal/tools/validation.go
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/observability/__init__.py
  python/src/linodemcp/tools/linode_firewalls_write.py
  python/src/linodemcp/tools/linode_object_storage_write.py
  python/tests/conftest.py
  python/tests/unit/test_config.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_linode_write_methods.py
  python/tests/unit/test_observability.py
  python/tests/unit/test_tools.py
  testdata/behavior/linode_firewall_rules_update.json
  testdata/behavior/linode_object_storage_presigned_url_create.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat(go): support reserved IPv4 NodeBalancer creation
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_create_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_networking_dryrun_test.go
  go/internal/tools/linode_nodebalancers_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
  proto/linode/mcp/v1/nodebalancer.proto
Due: gofumpt, goimports, go-test

refactor(go): use addressable IPv4 values
  go/internal/linode/nodebalancer_create_test.go
  go/internal/tools/linode_nodebalancers_write.go
Due: gofumpt, goimports, go-test

feat(python): add reserved IPv4 route tools
  docs/input-proto-baseline.txt
  docs/read-proto-baseline.txt
  docs/tool-parity-baseline.txt
  docs/tools-capabilities.txt
  docs/tools-manifest.txt
  docs/write-proto-baseline.txt
  go/internal/server/tools_capabilities_test.go
  proto/linode/mcp/v1/ip.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/profiles/builtin.py
  python/src/linodemcp/profiles/scope.py
  python/src/linodemcp/tools/__init__.py
  python/src/linodemcp/tools/helpers.py
  python/src/linodemcp/tools/linode_reserved_ips.py
  python/src/linodemcp/version.py
  python/tests/unit/test_linode_reserved_ip_tools.py
  python/tests/unit/test_linode_reserved_ips.py
  python/tests/unit/test_tools_manifest.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(linode): preserve reserved IPs in deletion previews
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_instance_delete_dryrun_test.go
Due: gofumpt, goimports, go-test

fix(python): preserve NodeBalancer IPv4 creation semantics
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

fix(python): align reserved IP token scopes
  python/src/linodemcp/profiles/scope.py
  python/tests/unit/test_linode_reserved_ip_tools.py
Due: mypy, pytest

docs(python): clarify reserved IP scope mapping
  python/src/linodemcp/profiles/scope.py
Due: mypy, pytest

feat(python): support reserved IPv4 on NodeBalancer create
  proto/linode/mcp/v1/nodebalancer.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_linode_write_methods.py
  python/tests/unit/test_tools.py
Due: mypy, pytest

fix(python): preserve reserved IPs in deletion previews
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: mypy, pytest

fix(linode): limit reserved IP preview changes to Go
  go/internal/tools/linode_instance_delete_dryrun_test.go
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(python): preserve reserved IP response types
  proto/linode/mcp/v1/ip.proto
  python/src/linodemcp/tools/linode_reserved_ips.py
  python/tests/unit/test_linode_reserved_ip_tools.py
Due: mypy, pytest

fix(python): restore reserved IP preview parity
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: mypy, pytest

feat: support passwordless Linode provisioning
  go/internal/linode/instance_passwordless_no_retry_test.go
  go/internal/linode/instance_write_proto_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_instance_deep.go
  go/internal/tools/linode_instance_actions.go
  go/internal/tools/linode_instance_backups_disks_dryrun_test.go
  go/internal/tools/linode_instance_deep_test.go
  go/internal/tools/linode_instance_disks.go
  go/internal/tools/linode_instance_passwordless_test.go
  go/internal/tools/linode_instances_write.go
  go/internal/tools/linode_instances_write_dryrun_test.go
  go/internal/tools/tools_write_test.go
  proto/linode/mcp/v1/instance.proto
  proto/linode/mcp/v1/instance_disk.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_instance_actions.py
  python/src/linodemcp/tools/linode_instance_disks.py
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_linode_client_untested_writes.py
  python/tests/unit/test_linode_write_methods.py
  python/tests/unit/test_passwordless_linode_flows.py
  python/tests/unit/test_tools.py
  testdata/behavior/linode_instance_create.json
  testdata/behavior/linode_instance_disk_create.json
  testdata/behavior/linode_instance_rebuild.json
Due: gofumpt, goimports, go-test, mypy, pytest

fix(linode): limit deletion preview changes to Go
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: mypy, pytest

fix(databases): expose MySQL create route
  go/internal/linode/database_write_proto_test.go
  go/internal/linode/methods_databases.go
Due: gofumpt, goimports, go-test

revert: fix(python): restore reserved IP preview parity
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: mypy, pytest

fix(preview): harden instance IP dependency parsing
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_instance_delete_dryrun_test.go
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

revert: fix(preview): harden instance IP dependency parsing
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_instance_delete_dryrun_test.go
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(databases): restore MySQL create route coverage
  go/internal/linode/database_write_proto_test.go
  go/internal/linode/methods_databases.go
Due: gofumpt, goimports, go-test

fix(preview): restore hardened IP dependency handling
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_instance_delete_dryrun_test.go
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(python): reject non-string NodeBalancer IPv4 values
  python/src/linodemcp/linode/__init__.py
  python/tests/unit/test_linode.py
Due: mypy, pytest

test(nodebalancer): strengthen reserved IPv4 regression checks
  go/internal/linode/nodebalancer_create_test.go
  go/internal/tools/linode_networking_dryrun_test.go
  go/internal/tools/tools_write_test.go
Due: gofumpt, goimports, go-test

fix(linode): restore Go-only deletion preview scope
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_instance_delete_dryrun_test.go
  python/src/linodemcp/tools/linode_instance_write.py
  python/tests/unit/test_tools.py
  python/tests/unit/test_twostage_instance_delete.py
Due: gofumpt, goimports, go-test, mypy, pytest

fix(nodebalancer): keep reserved IPv4 creation consistent (#735)
  go/internal/linode/methods_networking.go
  go/internal/linode/nodebalancer_create_test.go
  go/internal/linode/retry.go
  go/internal/linode/testconsts_test.go
  go/internal/linode/types_networking.go
  go/internal/tools/dryrun_walks.go
  go/internal/tools/linode_networking_dryrun_test.go
  go/internal/tools/linode_nodebalancers_write.go
  go/internal/tools/testconsts_test.go
  go/internal/tools/tools_write_test.go
  proto/linode/mcp/v1/nodebalancer.proto
  python/src/linodemcp/linode/__init__.py
  python/src/linodemcp/tools/linode_nodebalancers_write.py
  python/tests/unit/test_linode.py
  python/tests/unit/test_tools.py
Due: gofumpt, goimports, go-test, mypy, pytest

ci(agent-review): cap GLM review chunks and use net PR diffs
  .github/workflows/agent-review.yml
Due: none

fix(python): require confirmation for reserved IP apply
  python/src/linodemcp/tools/linode_reserved_ips.py
  python/tests/unit/test_linode_reserved_ip_tools.py
Due: mypy, pytest

fix(python): honor reserved IP delete plans
  python/src/linodemcp/tools/linode_reserved_ips.py
  python/tests/unit/test_linode_reserved_ip_tools.py
Due: mypy, pytest

feat: add env, CLI, and docs parity gates plus sync-drift workflow
  .github/workflows/sync-drift.yml
  .pre-commit-config.yaml
  Makefile
  docs/README.md
  docs/audit-operations.md
  docs/contracts/behavior-exempt.txt
  docs/contracts/env-vars.txt
  docs/observability.md
  docs/parity.md
  docs/profile-recipes.md
  go/internal/audit/event_schema_test.go
  go/internal/cli/runtime.go
  go/internal/config/config.go
  go/internal/config/parity_fixture_test.go
  go/internal/observability/duration_buckets_test.go
  go/internal/observability/metrics.go
  python/src/linodemcp/config/__init__.py
  python/src/linodemcp/main.py
  python/src/linodemcp/observability/__init__.py
  python/src/linodemcp/tools/version.py
  python/tests/unit/test_audit_event_schema.py
  python/tests/unit/test_config_parity_fixture.py
  python/tests/unit/test_observability_buckets.py
  python/tests/unit/test_observability_logging.py
  python/tests/unit/test_verify_baseline_direction.py
  python/tests/unit/test_verify_cli_surface.py
  python/tests/unit/test_verify_docs_links.py
  python/tests/unit/test_verify_env_parity.py
  python/tests/unit/test_version.py
  scripts/verify_baseline_direction.py
  scripts/verify_cli_surface.py
  scripts/verify_docs_links.py
  scripts/verify_env_parity.py
  testdata/audit/event_fields.json
  testdata/observability/duration_buckets.json
Due: gofumpt, goimports, go-test, mypy, pytest

feat(observability): add metrics-surface parity gate
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/parity.md
  go/internal/observability/tracing.go
  python/tests/unit/test_verify_metrics_surface.py
  renovate.json5
  scripts/verify_metrics_surface.py
Due: gofumpt, goimports, go-test, mypy, pytest

feat(networking): add reserved IP list parity
  docs/contracts/behavior-baseline.txt
  docs/contracts/input-proto-baseline.txt
  docs/contracts/read-proto-baseline.txt
  docs/contracts/tool-parity-baseline.txt
  go/internal/linode/methods_networking.go
  go/internal/linode/reserved_ips_test.go
  go/internal/linode/retry.go
  go/internal/linode/types_networking.go
  go/internal/profiles/reserved_ip_scope_test.go
  go/internal/profiles/scope.go
  go/internal/server/reserved_ip_registration_test.go
  go/internal/server/server.go
  go/internal/tools/errors.go
  go/internal/tools/linode_reserved_ips.go
  go/internal/tools/linode_reserved_ips_test.go
  testdata/behavior/linode_networking_reserved_ip_list.json
Due: gofumpt, goimports, go-test

feat: add coverage-floor and diff-coverage gates to make check
  .github/workflows/ci.yml
  Makefile
  docs/README.md
  docs/contracts/coverage-floors.txt
  docs/parity.md
  go/Makefile
  python/.gitignore
  python/pyproject.toml
  python/tests/unit/test_verify_coverage_floor.py
  python/tests/unit/test_verify_diff_coverage.py
  scripts/_coverage.py
  scripts/verify_coverage_floor.py
  scripts/verify_diff_coverage.py
Due: mypy, pytest

feat: add coverage-floor and diff-coverage gates to make check
  scripts/verify_coverage_floor.py
Due: none

test(networking): cover reserved IP list errors
  go/internal/linode/reserved_ips_test.go
  go/internal/tools/linode_reserved_ips.go
  go/internal/tools/linode_reserved_ips_defensive_test.go
  go/internal/tools/linode_reserved_ips_test.go
Due: gofumpt, goimports, go-test

feat(baseline-guard): require tracking-issue URL in ratchet annotations
  .github/workflows/baseline-guard.yml
  Makefile
  docs/README.md
  docs/parity.md
  python/tests/unit/test_verify_baseline_direction.py
  scripts/_baselines.py
  scripts/verify_baseline_direction.py
Due: mypy, pytest

docs(contracts): link read-proto classifier follow-up
  docs/contracts/read-proto-baseline.txt
Due: none

Path conditions:
  gofumpt: any of: ^go/.*\.go$ and \.go$
  goimports: any of: ^go/.*\.go$ and \.go$
  go-test: any of: ^go/ and \.go$
  mypy: any of: ^python/.*\.py$ and \.py$
  pytest: any of: ^python/ and \.py$
